<body><div class="container">
    <h2>Case Details</h2>
    <form>
      <div class="form-group">
        <label for="case-name">Case Name:</label>
        <input type="text" [(ngModel)]="caseName" id="case-name" name="caseName" placeholder="Enter Case Name">
      </div>
      <div class="form-group">
        <label for="case-type">Case Type:</label>
        <input type="text" [(ngModel)]="caseType" id="case-type" name="caseType" placeholder="Enter Case Type">
      </div>
      <div class="form-group">
        <label for="case-description">Case Description:</label>
        <textarea [(ngModel)]="caseDescription" id="case-description" name="caseDescription" placeholder="Enter Case Description"></textarea>
      </div>
      <div class="form-group">
        <label for="hearing-date">Hearing Date:</label>
        <input type="date" [(ngModel)]="hearingDate" id="hearing-date" name="hearingDate">
      </div>
      <div class="form-group">
        <label for="hearing-time">Hearing Time:</label>
        <input type="time" [(ngModel)]="hearingTime" id="hearing-time" name="hearingTime">
      </div>
      <div class="form-group">
        <label for="court-room">Court Room:</label>
        <input type="text" [(ngModel)]="courtRoom" id="court-room" name="courtRoom" placeholder="Enter Court Room">
      </div>
      <button type="submit" (click)="addCaseDetails()">Submit</button>
    </form>
  </div>
</body>