<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Case Hearing System</title>
  
</head>

<body>
  <header>
    
    <div class="hero">
      <h1>Case Hearing System</h1>
    </div>
  </header>

  <main>
    <section class="admin">
      <div class="container">
        <h2>Admin</h2>
        <p>Registration of new Case,Change in Hearing time and court room of Case </p>
        <a routerLink="admin" class="btn btn-primary">Login as Admin</a>
      </div>
    </section>

  

  <section class="judge">
    <div class="container">
      <h2>Judge</h2>
      <p>View all Cases , Change Status , Deletion of Case.</p>
      <a routerLink="judge" class="btn btn-primary">Login as Judge</a>
    </div>
  </section>

  <section class="user">
    <div class="container">
      <h2>User</h2>
      <p>View your Case</p>
      <a routerLink="/user" class="btn btn-primary">Login as User</a>
    </div>
  </section>

</main>
  

  <footer>
    <div class="container">
      <p>&copy; 2023 Case Hearing System</p>
    </div>
  </footer>
</body>

</html>
