/* Global Styles */

body {
    background-color: #1a1a1a;
    color: #e6e6e6;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #262626;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  a {
    color: #b3b3b3;
    border: #b2d03d 1px solid;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    
  }
  a :hover {
    color: #e6e6e6;
    background-color: #bfc43b;
    cursor: progress;
  }
  
  button {
    background-color: #333;
    color: #e6e6e6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666;
    cursor: progress;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  /* Nav Styles */
  
  nav {
    background-color: #262626;
    padding: 10px;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
  }
  
  /* Main Styles */
  
  main {
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Form Styles */
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
    max-width: 300px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
    max-width: 300px;
  }
  
  input[type="text"]:focus,
  input[type="password"]:focus {
    outline: none;
    box-shadow: 0 0 5px #b3b3b3;
  }
  
  button[type="submit"] {
    background-color: #853434;
    color: #e6e6e6;
    width: 100%;
    max-width: 300px;
  }
  
  button[type="submit"]:hover {
    background-color: #999;
  }
  
  p {
    margin: 0;
  }
  
  p.error {
    color: #ff3333;
  }
  
  /* Custom Styles */
  
  .add-ipc {
    margin-top: 20px;
  }
  