<body>
<form (ngSubmit)="onSubmit()">
    <label for="case-id">Case ID:</label>
    <input type="text" id="case-id" name="caseId" [(ngModel)]="formData.caseId" required>
  
    <label for="case-name">Case Name:</label>
    <input type="text" id="case-name" name="caseName" [(ngModel)]="formData.caseName" required>
  
    <label for="complaint">Complaint:</label>
    <textarea id="complaint" name="complaint" [(ngModel)]="formData.complaint" required></textarea>
  
    <button type="submit">Submit</button>
    
  </form>

    
  </body>
  