<div class="container">
    <h2>View Case Details</h2>
    <ul>
      <li *ngFor="let case of cases">
        <h3>{{ case.caseName }}</h3>
        <p><strong>Case Type:</strong> {{ case.caseType }}</p>
        <p><strong>Case Description:</strong> {{ case.caseDescription }}</p>
        <p><strong>Hearing Date:</strong> {{ case.hearingDate | date }}</p>
        <p><strong>Hearing Time:</strong> {{ case.hearingTime }}</p>
        <p><strong>Court Room:</strong> {{ case.courtRoom }}</p>
        <button (click)="deleteCase(case.caseId)">Delete</button>
      </li>
    </ul>
  </div>
  